.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
**/*.csproj.user
**/bin/
**/obj/
**/Debug/
**/Release/
msbuild.binlog
**/packages/
*.nupkg
*.snupkg
.nuget/
**/.gradle/
**/build/
**/*.apk
**/*.aab
**/*.xcarchive
**/*.app
**/*.dSYM/
**/*.ipa
**/AppPackages/
JoesScanner/Package.StoreAssociation.xml
**/publish/
**/Publish/
JoesScanner/Installer/
.env
.env.*
secrets.json
*.pfx
*.p12
*.key
/JoesScanner/API_Plugin/
*.sln
